@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    opacity: 0.9;
    background-color: #0099cc;
    color: white;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    width: 1000px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

@media all and (max-width: 650px) {
  header {
    width: 100%;
  }
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1.5rem;
}

nav a {
    margin-right: 1rem;
    font-size: 2.2rem;
    display: inline;
    color: white;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

/* Banner */

.banner {
  width: 530px;
  margin: 15% auto;
}

.banner p {
  font-size: 1.3rem;
}

@media all and (max-width: 650px) {
  .banner {
    margin: 50rem auto;
    width: 90%;
  }
}

/* View Portfolio button */

a.button3 {
    display: inline-block;
    padding: 0.5em 0.8em;
    margin: 0.5em 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.75rem;
    color: #0099cc;
    background-color: #FFE42B;
    text-align: center;
    transition: all 0.2s;
    }
a.button3:hover{
    background-color: white;
    }
@media all and (max-width:30em){
    a.button3 {
    display: block;
    margin: 0.2em auto;
    }
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-center {
    width: 1000px;
    margin: 0 auto;
}

@media all and (max-width: 650px) {
  .footer-center {
    width: 100%;
  }
}

/* Social Media Icons */

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
          animation: icon3d 200ms infinite;
    cursor:pointer;
  }

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);
  }
  25% {
    text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
  }
  50% {
    text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
  }
  75% {
    text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
  }
  100% {
    text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
  }
}

/* Skills */

.skills-master-container {
  width: 1000px;
  margin: 4% auto 1% auto;
}

.skills-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin-top: -1rem;
}

.skill-container {
  display: inline-block;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
}

.skill {
  font-size: 4rem;
}

/* Latest Proyects */

.project-list-container {
    width: 1000px;
    margin: 0 auto 1% auto;
}

.latest-proyects-list {
    font-size: 1.5rem;
    margin-left: 1.9rem;
}

#arroces-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

#surf-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

#credit-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

#organism-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Project Info */

.project-info {
  width: 1000px;
  margin: 0 auto;
}

/* Get in Touch */

.touch-container {
  width: 1000px;
  margin: 8% auto 1% auto;
}
.touch-small-container {
  display: inline-block;
  flex-wrap: wrap;
  width: 60%;
}
.details {
  margin-top: 1rem;
  font-size: 1.6rem;
}